{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="DJoz Template">
        <meta name="keywords" content="DJoz, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>KornbyteApps| Musicmatch</title>
    
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
    
        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/barfiller.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/nowfont.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/rockville.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    </head>
<body>
    
</body>
</html>