{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['artista', 'seguidores', 'popularidad'],
            ['A', 660, 99],
            ['A', 1170, 90], 
          ]);
          var options = {
            chart: {
              title: 'popularidad y seguidores ',
              subtitle: 'artistas en el top',
            },
            
            bars: 'horizontal' // Required for Material Bar Charts.
            
          };
          
        
          var chart = new google.charts.Bar(document.getElementById('barchart_material'));
        
          chart.draw(data, google.charts.Bar.convertOptions(options));
        }
        </script>    <div id="barchart_material" style="width: 500px; height: 600px;"></div>  
</head>
<body>
    <div id="barchart_material" style="width: 500px; height: 600px;"></div> 
</body>
</html>